share_sound.json
{
  "name": "Tinnitus Help: Share Sound",
  "nodes": [
    {
      "parameters": {},
      "id": "0bc082bd-dba8-4a69-8941-5b9d3ef9c5fe",
      "name": "Manual Trigger (Social Share)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1904,
        32
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "slug",
              "value": "notched-sounds"
            }
          ]
        },
        "options": {}
      },
      "id": "d25d95db-a3fb-4a6d-9a25-40348e126e52",
      "name": "Set Slug",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1760,
        32
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "oktayshakirov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "tinnitus-blog",
          "mode": "name"
        },
        "filePath": "=content/zen/{{$json.slug}}.mdx",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "83aa57da-1dc1-4bca-9736-02c180be32ef",
      "name": "Get Sound MDX",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1616,
        32
      ],
      "webhookId": "91df1748-e0c3-4c14-8bc7-058c2545e03d",
      "credentials": {
        "githubApi": {
          "id": "PGPD26vSgTS2AeM8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content;\nconst decoded = Buffer.from(raw, 'base64').toString('utf8');\nconst match = /---([\\s\\S]*?)---/.exec(decoded);\nconst fm = {};\nif (match && match[1]) {\n  match[1].split('\\n').forEach(line => {\n    const [key, ...rest] = line.split(':');\n    if (key && rest.length > 0) {\n      fm[key.trim()] = rest.join(':').trim().replace(/^\\\"|\\\"$|'/g, '');\n    }\n  });\n}\nconst slug = $('Set Slug').item.json.slug;\nreturn [{ json: {\n  name: fm.title || \"Sound\",\n  image: fm.image ? `https://tinnitushelp.me${fm.image}` : \"\",\n  description: fm.description || \"\",\n  link: `http://tinnitushelp.me/zen/${slug}`\n}}];"
      },
      "id": "445680b0-7faf-4ec3-a2c6-e66a884e7631",
      "name": "Parse Frontmatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1456,
        32
      ]
    },
    {
      "parameters": {
        "imageTemplateId": "5d677b23dcfff87a",
        "overridesUi": {
          "overrideValues": [
            {
              "propertiesUi": {
                "propertyValues": [
                  {
                    "key": "image.src",
                    "value": "={{$json.image}}"
                  },
                  {
                    "key": "title.text",
                    "value": "={{$json.name}}"
                  },
                  {
                    "key": "description.text",
                    "value": "={{$json.description}}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "d9d03392-cb9b-416c-87d9-f00647641783",
      "name": "Create an image",
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        -1312,
        32
      ],
      "credentials": {
        "apiTemplateIoApi": {
          "id": "VtZS5IMyzrgGCOmS",
          "name": "APITemplate.io (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.download_url_png || $json.download_url || $json.url || $json.image_url || $json.image}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "2bb43ea0-601f-49bc-8a6d-300282c20c76",
      "name": "Download APITemplate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        32
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "oktayshakirov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "tinnitus-help-automation",
          "mode": "name"
        },
        "filePath": "=images/zen/{{$('Set Slug').item.json.slug}}.png",
        "binaryData": true,
        "commitMessage": "new automated image"
      },
      "id": "fdab3adc-c20f-4fb9-90df-370ee54498c7",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -976,
        32
      ],
      "webhookId": "8c7ce9b9-6fc0-49de-944a-19a21dda4d06",
      "credentials": {
        "githubApi": {
          "id": "PGPD26vSgTS2AeM8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const title = $('Parse Frontmatter').item.json.name || \"Sound\";\n  const link = $('Parse Frontmatter').item.json.link || \"http://tinnitushelp.me/zen\";\n  const slug = $('Set Slug').item.json.slug || \"sound\";\n\n  const variants = [\n    `Check out: \"${title}\" which is streamable on all platforms. 👉 {{link}}`\n  ];\n\n  const variant = variants[Math.floor(Math.random() * variants.length)];\n  const fbTwPost = variant.replace(\"{{link}}\", link);\n  const igPost = variant.replace(\"{{link}}\", \"👉 Stream at tinnitushelp.me\");\n  const instagramImageUrl = `https://raw.githubusercontent.com/oktayshakirov/tinnitus-help-automation/refs/heads/main/images/zen/${slug}.png`;\n    const binary = $('Download APITemplate Image').item.binary || {};\n\n  return {\n    json: {\n      ...item.json,\n      facebook: fbTwPost,\n      twitter: fbTwPost,\n      instagramCaption: igPost,\n      imageUrl: instagramImageUrl,\n      link: link\n    },\n    binary\n  };\n});\n"
      },
      "id": "145b9dcf-c376-4245-b107-3c2989678e64",
      "name": "Format Social Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -816,
        32
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841477062009382",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{$json.imageUrl}}"
              },
              {
                "name": "caption",
                "value": "={{$json.instagramCaption}}"
              }
            ]
          }
        }
      },
      "id": "d160333b-1542-44a9-8d41-2d1f3a135029",
      "name": "Instagram Create Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -592,
        32
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "Ydx1TfHeHlMX2ILQ",
          "name": "Facebook Graph (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{$json.facebook}}"
              },
              {
                "name": "link",
                "value": "={{$json.link}}"
              }
            ]
          }
        }
      },
      "id": "76ffc954-114f-4137-9230-f58a9ec328a0",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -576,
        -400
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "Ydx1TfHeHlMX2ILQ",
          "name": "Facebook Graph (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841477062009382",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{$json.id}}"
              }
            ]
          }
        }
      },
      "id": "fd65089c-1657-4173-8fd1-d96bb3ab6a84",
      "name": "Instagram Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -288,
        32
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "Ydx1TfHeHlMX2ILQ",
          "name": "Facebook Graph (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "@tinnitushelpme",
        "file": "={{$json.imageUrl}}",
        "additionalFields": {
          "caption": "={{$json.twitter}}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        224
      ],
      "id": "c1a87510-c3a9-4f53-a34f-3f1835d1150e",
      "name": "Telegram Post",
      "webhookId": "64019144-1c77-4b4f-93a0-a9a579593793",
      "credentials": {
        "telegramApi": {
          "id": "wvvr0VqigaV0y9Pc",
          "name": "Telegram (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        -192
      ],
      "id": "c7a0a7d2-00a3-458c-b5dd-e50069fb4369",
      "name": "Upload Media to Twitter",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "QT8bLYGAdrhMNYdJ",
          "name": "X OAuth 2.0 (CryptoWiki)"
        },
        "twitterOAuth1Api": {
          "id": "OLqoGK3w0RSKKDuB",
          "name": "X OAuth 1.0 (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $('Format Social Post').item.json.twitter }}\n",
        "additionalFields": {
          "attachments": "={{ $json.media_id_string }}"
        }
      },
      "id": "f87cd980-e090-48d9-93cb-5572bab79a94",
      "name": "Create Tweet1",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -352,
        -256
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "glLGJiFIa282EI65",
          "name": "X OAuth 2.0 (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -432,
        32
      ],
      "id": "867afbf3-fe2e-4efa-a183-606155533b77",
      "name": "Wait",
      "webhookId": "f80ede71-7f6a-492d-93c0-6b306bbee248"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger (Social Share)": {
      "main": [
        [
          {
            "node": "Set Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Slug": {
      "main": [
        [
          {
            "node": "Get Sound MDX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sound MDX": {
      "main": [
        [
          {
            "node": "Parse Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Frontmatter": {
      "main": [
        [
          {
            "node": "Create an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image": {
      "main": [
        [
          {
            "node": "Download APITemplate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download APITemplate Image": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Format Social Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Social Post": {
      "main": [
        [
          {
            "node": "Telegram Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Create Media",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Media to Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create Media": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Media to Twitter": {
      "main": [
        [
          {
            "node": "Create Tweet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4a4dbab-c90b-4d9e-b6c7-30fc35956aaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "002b5e092f04f4d75aa57fd214532db5fa3d65fe608d265bda2ed541d575f595"
  },
  "id": "xFFJn0pqnzfqiKcX",
  "tags": []
}