share_sound.json
{
  "name": "Tinnitus Help: Share Sound",
  "nodes": [
    {
      "parameters": {},
      "id": "6b4682dd-3e07-467c-b8d0-5b2586f65936",
      "name": "Manual Trigger (Social Share)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1888,
        48
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "slug",
              "value": "bird-sounds"
            }
          ]
        },
        "options": {}
      },
      "id": "6b717548-e6d0-4efe-8cc7-8ac3b4c6fb53",
      "name": "Set Slug",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1744,
        48
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "oktayshakirov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "tinnitus-blog",
          "mode": "name"
        },
        "filePath": "=content/zen/{{$json.slug}}.mdx",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "73d58d4e-ac4c-4905-afb7-152fb4141a82",
      "name": "Get Sound MDX",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1600,
        48
      ],
      "webhookId": "91df1748-e0c3-4c14-8bc7-058c2545e03d",
      "credentials": {
        "githubApi": {
          "id": "PGPD26vSgTS2AeM8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content;\nconst decoded = Buffer.from(raw, 'base64').toString('utf8');\nconst match = /---([\\s\\S]*?)---/.exec(decoded);\nconst fm = {};\nif (match && match[1]) {\n  match[1].split('\\n').forEach(line => {\n    const [key, ...rest] = line.split(':');\n    if (key && rest.length > 0) {\n      fm[key.trim()] = rest.join(':').trim().replace(/^\\\"|\\\"$|'/g, '');\n    }\n  });\n}\nconst slug = $('Set Slug').item.json.slug;\nreturn [{ json: {\n  name: fm.title || \"Sound\",\n  image: fm.image ? `https://tinnitushelp.me${fm.image}` : \"\",\n  description: fm.description || \"\",\n  link: `http://tinnitushelp.me/zen/${slug}`\n}}];"
      },
      "id": "7ecce0d3-de7b-460f-80fe-9730247e5f2f",
      "name": "Parse Frontmatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1440,
        48
      ]
    },
    {
      "parameters": {
        "imageTemplateId": "5d677b23dcfff87a",
        "overridesUi": {
          "overrideValues": [
            {
              "propertiesUi": {
                "propertyValues": [
                  {
                    "key": "image.src",
                    "value": "={{$json.image}}"
                  },
                  {
                    "key": "title.text",
                    "value": "={{$json.name}}"
                  },
                  {
                    "key": "description.text",
                    "value": "={{$json.description}}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "9dfbf799-5e36-4465-8ce0-9f930287b00f",
      "name": "Create an image",
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        -1296,
        48
      ],
      "credentials": {
        "apiTemplateIoApi": {
          "id": "0SUDArAaMkmmEJVN",
          "name": "APITemplate.io (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.download_url_png || $json.download_url || $json.url || $json.image_url || $json.image}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "ed2ce021-3c4f-4fdd-bc6c-0d12dd06bcad",
      "name": "Download APITemplate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        48
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "oktayshakirov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "tinnitus-help-automation",
          "mode": "name"
        },
        "filePath": "=images/zen/{{$('Set Slug').item.json.slug}}.png",
        "binaryData": true,
        "commitMessage": "new automated image"
      },
      "id": "862738a4-bdde-48a8-aedd-419bf31a96bc",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -960,
        48
      ],
      "webhookId": "8c7ce9b9-6fc0-49de-944a-19a21dda4d06",
      "credentials": {
        "githubApi": {
          "id": "PGPD26vSgTS2AeM8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const title = $('Parse Frontmatter').item.json.name || \"Sound\";\n  const link = $('Parse Frontmatter').item.json.link || \"http://tinnitushelp.me/zen\";\n  const slug = $('Set Slug').item.json.slug || \"sound\";\n\n  const variants = [\n    `Check out our sound therapy collection to reduce tinnitus called \"${title}\" which is streamable on all platforms. 👉 {{link}}`\n  ];\n\n  const variant = variants[Math.floor(Math.random() * variants.length)];\n  const fbTwPost = variant.replace(\"{{link}}\", link);\n  const igPost = variant.replace(\"{{link}}\", \"👉 Stream at tinnitushelp.me\");\n  const instagramImageUrl = `https://raw.githubusercontent.com/oktayshakirov/tinnitus-help-automation/refs/heads/main/images/zen/${slug}.png`;\n    const binary = $('Download APITemplate Image').item.binary || {};\n\n  return {\n    json: {\n      ...item.json,\n      facebook: fbTwPost,\n      twitter: fbTwPost,\n      instagramCaption: igPost,\n      imageUrl: instagramImageUrl,\n      link: link\n    },\n    binary\n  };\n});\n"
      },
      "id": "6985e489-b4f5-4855-b8ee-7b19e23947cf",
      "name": "Format Social Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -800,
        48
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841477062009382",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{$json.imageUrl}}"
              },
              {
                "name": "caption",
                "value": "={{$json.instagramCaption}}"
              }
            ]
          }
        }
      },
      "id": "4624caab-a8d7-4041-9e6c-6efb50a73be6",
      "name": "Instagram Create Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -576,
        48
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "ltfxXBWtUWu9wRg3",
          "name": "Facebook Graph (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{$json.facebook}}"
              },
              {
                "name": "link",
                "value": "={{$json.link}}"
              }
            ]
          }
        }
      },
      "id": "b69aa150-11e8-4eac-950e-8ca78c50fa9f",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -560,
        -368
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "ltfxXBWtUWu9wRg3",
          "name": "Facebook Graph (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841477062009382",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{$json.id}}"
              }
            ]
          }
        }
      },
      "id": "2dfbf5a1-3a10-4d0c-8d8b-c015185078eb",
      "name": "Instagram Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -352,
        48
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "ltfxXBWtUWu9wRg3",
          "name": "Facebook Graph (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "@tinnitushelpme",
        "file": "={{$json.imageUrl}}",
        "additionalFields": {
          "caption": "={{$json.twitter}}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        240
      ],
      "id": "e9433cae-b2d8-493b-a0ec-59dfc65c6de9",
      "name": "Telegram Post",
      "webhookId": "64019144-1c77-4b4f-93a0-a9a579593793",
      "credentials": {
        "telegramApi": {
          "id": "4rLRmLOvcIlidonP",
          "name": "Telegram (TinniusHelp)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        -160
      ],
      "id": "f0353a55-1f29-4b16-a42a-8f0121262299",
      "name": "Upload Media to Twitter",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "QT8bLYGAdrhMNYdJ",
          "name": "X OAuth 2.0 (CryptoWiki)"
        },
        "twitterOAuth1Api": {
          "id": "UE74TiXdMhp0RYDI",
          "name": "X OAuth 1.0 (TinnitusHelp)"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $('Format Social Post').item.json.twitter }}\n",
        "additionalFields": {
          "attachments": "={{ $json.media_id_string }}"
        }
      },
      "id": "8ef4f2a3-d674-40a5-a5cf-03836697b7c9",
      "name": "Create Tweet1",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -336,
        -224
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "WEJEsTH7bk3jpU4n",
          "name": "X OAuth 2.0 (TinnitusHelp)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger (Social Share)": {
      "main": [
        [
          {
            "node": "Set Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Slug": {
      "main": [
        [
          {
            "node": "Get Sound MDX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sound MDX": {
      "main": [
        [
          {
            "node": "Parse Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Frontmatter": {
      "main": [
        [
          {
            "node": "Create an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image": {
      "main": [
        [
          {
            "node": "Download APITemplate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download APITemplate Image": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Format Social Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Social Post": {
      "main": [
        [
          {
            "node": "Telegram Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Create Media",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Media to Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create Media": {
      "main": [
        [
          {
            "node": "Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Media to Twitter": {
      "main": [
        [
          {
            "node": "Create Tweet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "9a6d9a98-b07d-46e8-b0e1-18d01898a893",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "002b5e092f04f4d75aa57fd214532db5fa3d65fe608d265bda2ed541d575f595"
  },
  "id": "jtUStrxCt23FGNDk",
  "tags": []
}

